{% extends "base.html" %}

{% block content %}
<header>
  <div class="title">
    <a href="javascript:void(0)" onclick="window.history.back()"><i class="fas fa-arrow-left"></i></a>
  </div>
  <div class="btn-group">
  </div>
</header>

<!-- section.highlight-wrap -->
<section class="highlight-wrap">
  <div class="info">
    <div class="img-hand">
      <img src="/static/images/icons/point.png" alt="">
    </div>
    <p>
      손가락으로 아래 문장을
      <br>한 줄 한 줄 그어보세요!
    </p>
  </div>
  <div class="highlight-text" id="text">
    <div id="console"></div>
    <p class="line line1">숙의적 시민으로서 거짓없이 작성하겠습니다.<span class="bg-box"></span></p>
    <div class="underline"></div>
    <p class="line line2">감정만을 호소하거나 분풀이 하지 않겠습니다.<span class="bg-box"></span></p>
    <div class="underline"></div>
    <p class="line line3">원하는 바를 명확하게 제시하겠습니다.<span class="bg-box"></span></p>
    <div class="underline"></div>
    <p class="line line4">청원의 합리성을 위해 근거를 제시하겠습니다.<span class="bg-box"></span></p>
    <div class="underline"></div>
    <p class="line line5">저는 타인을 배려하는 태도로 임하겠습니다.<span class="bg-box"></span></p>
    <div class="underline"></div>
  </div>

</section>

<a class="btn-validation btn-highlight" href="/good">꼭 지키겠습니다</a>


{% endblock content %}


{% block extrascripts %}
<script>
  var graph = document.getElementsByClassName('graph-bar-percent');
  var percent = document.getElementsByClassName('percent');

  for (var i = 0; i < graph.length; i++) {
    graph[i].style.width = percent[i].innerText;
  }
</script>

<script>
  function touchDrag(event) {
    var x = event.touches[0].clientX;
    var y = event.touches[0].clientY;
    document.getElementById("demo").innerHTML = x + ", " + y;
  }
</script>
<script>
  function selectText() {
    var selectionText = "";
    if (document.getSelection) {
      selectionText = document.getSelection();
    } else if (document.selection) {
      selectionText = document.selection.createRange().text;
    }
    return selectionText;
  }
  document.onmouseup = function () {
    document.getElementById("result").innerHTML = selectText();
    $("#text:contains('" + selectText() + "')").each(function () {
      var regex = new RegExp(selectText(), 'gi');
      $(this).html($(this).text().replace(regex, "<span class='highlight-color'>" + search + "</span>"));
    });
  }
</script>

<script>
  function selectText() {
     var selectionText = ""; //마우스로 드래그한 글 
     if (document.getSelection) {
        selectionText = document.getSelection();
     } else if (document.selection) {
        selectionText = document.selection.createRange().text;
     }
     return selectionText;
  }

  document.onmouseup = function () {
     document.getElementById("console").innerHTML = selectText();
     var str = document.getElementById("console").innerHTML;
     var line = [];
     var slice = [];

     for(var i = 0; i < $('.line').length; i++) {
        line.push($(".line").eq(i).text());
        slice.push(line[i].substr(str.length));
     }

     if(str.substr(0, 2) == '숙의') {
        highlightText(0, line[0].length, str);
     } else if(str.substr(0, 2) == '감정') {
        highlightText(1, line[1].length, str);
     } else if(str.substr(0, 2) == '원하') {
        highlightText(2, line[2].length, str);
     } else if(str.substr(0, 2) == '청원') {
        highlightText(3, line[3].length, str);
     } else if(str.substr(0, 2) == '저는') {
        highlightText(4, line[4].length, str);
     }

     console.log($('.line.active').length)
     // 여기에 .line.active 클래스 개수 5개일 때, 버튼 활성화 되도록
    if($('.line.active').length == 5) {
      console.log("OK")
      $(".btn-highlight").css('pointer-events', 'all');
    }

     function highlightText(num, text_length, str) {
        if(str.length < text_length) {
           return $('.line').eq(num).html('<span style="background-color:#B6EECE;">' + str + '</span>' + slice[num]);
        } else if(str.length == text_length) {
           $('.line').eq(num).addClass('active');
           return $('.line').eq(num).html('<span style="background-color:#B6EECE;">' + str + '</span>' + slice[num]);
        } else {
           return $('.line span').eq(num).text().substr(0, text_length);
        }
     }
  }

</script>


<script>
  $('.line').on("touchstart", function (e) {

	  var start = e.originalEvent.touches[0].pageX;

    var text_length = $(this).width();

    if(start >= 20 && start < 70) {
      $('.line').on("touchmove", function (event) {
        var touch_length = event.originalEvent.touches[0].pageX;

        var percent = touch_length / text_length * 100;
        
        if($(this).find('.bg-box').width() < text_length) {
          $(this).find('.bg-box').width(percent + '%');
        }

        if(touch_length > text_length) {
          console.log('Finish!');
          $(this).css('background-color', '#B6EECE');
          $(this).addClass('active');
          $(this).find('.bg-box').width(0)

          console.log($('.line.active').length);
          if($('.line.active').length == 5) {
            console.log("OK");
            $(".btn-highlight").css('pointer-events', 'all');
          }
        }
      })
    } else {
      console.log('No!!')
    }
  })
  
</script>
{% endblock extrascripts %}

<body class="background-white2 check-page">
  
</body>
</html>