{% extends "base.html" %}

{% block content %}

<!-- section.write -->
<section class="write template">
  <div class="form-header detail-page">
    <a href="javascript:void(0)" onclick="location.href='/list'">
      <img src="/static/images/icons/close.png" alt="">
    </a>
    <h3>내 청원</h3>
  </div>

  {% if petition.thumnail %}
  <div id="thumbnailImage" class="form-row form-row--image"
    style="background-image:url('/media/{{petition.thumbnail}}');">
  </div>
  {% endif %}

  <div class="title-wrap">
    <h2 class="write-title">{{petition.title}}</h2>
    <div class="category-tag detail-page">
      <div class="tag">
        <p>카테고리</p>
        {% for category in category_list %}
        <p class="category">{{category.category.name}}</p>
        {% endfor %}
      </div>
      <div class="tag">
        <p>희망 수신자</p>
        <p class="receiver">{{petition.department.name}}</p>
      </div>

      <p class="update-date">2022.01.28</p>
    </div>

    <a href="javascript:void(0)" class="open-modal">
      <i class="fas fa-ellipsis-v"></i>
    </a>
  </div>

  <div class="line" style="margin-top: 40px;"></div>

  <div class="template-form-item">

    {% if petition.content %}
    <p class="item-content">{{petition.content}}</p>
    {% endif %}

    {% if petition.content_1 %}
    <p class="item-content">{{petition.content_1}}</p>
    {% endif %}

    {% if petition.content_2 %}
    <p class="item-content">{{petition.content_2}}</p>
    {% endif %}

    {% if petition.content_3 %}
    <p class="item-content">{{petition.content_3}}</p>
    {% endif %}

    {% if petition.content_4 %}
    <p class="item-content">{{petition.content_4}}</p>
    {% endif %}

    {% if petition.content_5 %}
    <p class="item-content">{{petition.content_5}}</p>
    {% endif %}

    {% if petition.content_6 %}
    <p class="item-content">{{petition.content_7}}</p>
    {% endif %}

    {% if petition.content_7 %}
    <p class="item-content">{{petition.content_7}}</p>
    {% endif %}

  </div>

  <div class="template-form-item">
    <div id="preview" class="image-wrap">
      {% for image in image_list %}
      <div class="uploaded-img img-modal" style="cursor:pointer; background-image: url('/media/{{image.image}}');"></div>
      {% endfor %}
    </div>
  </div>

  <div class="template-form-item">
    <div class="tag-keywords">
      <p class="keyword done"># <span>{{petition.keyword_1}}</span></p>
      <p class="keyword done"># <span>{{petition.keyword_2}}</span></p>
      <p class="keyword done"># <span>{{petition.keyword_3}}</span></p>
    </div>
  </div>

  <div class="inspection-box bad report">
    <div class="result-text">
      <div class="status"><i class="fas fa-exclamation"></i></div>
      <p>신고</p>
    </div>
    <div class="image-wrap">
      <img src="/static/images/alarm.png" alt="">
    </div>
    <h3 class="mention"><span>부적절한 글</span>인가요?</h3>
    <div class="box-bottom box-bottom--grid">
      <a class="btn-apply done" onclick="predictPetition({{user.id}},{{petition.id}},true)">네</a>
      <a class="btn-apply done" onclick="predictPetition({{user.id}},{{petition.id}},false)">아니요</a>
    </div>
    <p class="btn-close"><i class="fas fa-times"></i></p>
  </div>

  {% load humanize %}

  <div class="list-info">
    <p class="numberOfPeople">현재까지 <span>{{petition.agreements|intcomma}}명</span> 동의</p>
    <div class="graph-wrap">
      <p class="percent">{{petition.percentage}}%</p>
      <div class="graph-bar">
        <div class="graph-bar-percent" style="width:{{petition.percentage}}%"></div>
      </div>
    </div>
    <a class="btn-agree-datail" onclick="agreePetition({{user.id}}, {{petition.id}})"><span>🖐</span> 동의합니다</a>
  </div>
</section>


<section class="modal_wrap" id="imgView">
  <article class="modal_cnt">
    <div class="modal_body">
      <div class="img-wrap">
        <img src="" alt="">
      </div>
    </div>
    <a href="javascript:void(0)" class="close_btn">닫기</a>
  </article>
  <div class="modal_dim"></div>
</section>
{% endblock content %}


{% block extrascripts %}
<script>
  $('.open-modal').click(function () {
    $('.inspection-box').fadeIn(300);
  });

  $('.btn-close').click(function () {
    $('.inspection-box').fadeOut(300);
  });

  $('.done').click(function () {
    $('.inspection-box').fadeOut(300);
  });
</script>


<script>
  $body = $('body');
  $modalWrap = $('.modal_wrap');
  $modalImg = $('#imgView');

  $('.img-modal').on('click', function () {
    $body.addClass('modal_in');
    $modalImg.fadeIn(300);
    $body.css('padding-right', getScrollWidth());
    // var img_url = $(this).css("background-image");
    // console.log(img_url);
    // $('#imgView').find('.img-wrap').css('background-image', img_url);
    var img_url = $(this).css("background-image").replace(/^url\(['"](.+)['"]\)/, '$1');
    $('#imgView').find('.img-wrap img').attr('src', img_url);
  });

  $('.btn-submit').on('click', function () {
    $body.addClass('modal_in');
    $modalWrap.fadeIn(300);
    $body.css('padding-right', getScrollWidth());
  });

  $('.close_btn, .modal_dim').on('click', function () {
    var speed = 300;
    $modalWrap.fadeOut(speed);
    setTimeout(function () {
      $body.removeClass('modal_in');
      $body.css('padding-right', 0)
    }, speed)
  });

  function getScrollWidth() {
    var body = document.querySelector('body');
    var scrollDiv = document.createElement('div');
    scrollDiv.className = 'fake_sjwidth';
    body.appendChild(scrollDiv);
    var scrollbarWidth = $(document).height() > $(window).height() ? scrollDiv.offsetWidth - scrollDiv.clientWidth :
      0;

    body.removeChild(scrollDiv);
    return scrollbarWidth;
  }

  function predictPetition(userID, petitionID, prediction) {

    $.ajax({
      url: "/api/predict_petition",
      data: {
        user_id: userID,
        petition_id: petitionID,
        prediction: prediction,
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      method: "POST",
      dataType: "json"
    }).done(function (data) {
      if (data.duplicate) {
        alert("수정");
      } else {
        alert("완료");
      }
    });
    
  }

  function agreePetition(userID, petitionID) {

    $.ajax({
      url: "/api/agree_petition",
      data: {
        user_id: userID,
        petition_id: petitionID,
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      method: "POST",
      dataType: "json"
    }).done(function (data) {
      if (data.duplicate) {
        alert("이미 동의한 청원입니다.");
      } else {
        alert("동의했습니다.");
      }
    });

  }
</script>


<script>
  $(function(){
    for(var i = 1; i < $('.category').length; i++) {
      $('.category').eq(i).hide();
    }
  });
</script>
{% endblock extrascripts %}