{% extends "base.html" %}

{% block content %}

<!-- section.write -->
<section class="write template">
  <form id="formPetition" action="" method="">

    <div class="form-header">
      <a href="javascript:void(0)"><img src="/static/images/icons/close.png" alt=""></a>
      <h3>청원 작성</h3>
      <button type="button" class="btn-submit" onclick="loading()">완료</button>
    </div>

    {% if petition.thumnail %}
    <div id="thumbnailImage" class="form-row form-row--image"
      style="background-image:url('/media/{{petition.thumbnail}}');">
    </div>
    {% endif %}

    <div class="title-wrap">
      <h2 class="write-title">{{petition.title}}</h2>
      <div class="category-tag">
        <div class="tag">
          <p>카테고리</p>
          {% for category in category_list %}
          <p class="category">{{category.name}}</p>
          {% endfor %}
        </div>
        <div class="tag">
          <p>희망 수신자</p>
          <p class="receiver">{{petition.department.name}}</p>
        </div>
      </div>
    </div>

    <div class="line" style="margin-top: 40px;"></div>

    {% if petition.content %}
    <div class="template-form-item">
      <div class="item-title">
        <h3>💭 청원 내용</h3>
        {% if status.content == '적절' %}
        <div class="status good"><i class="fas fa-check"></i></div>
        {% else %}
        <div class="status bad"><i class="fas fa-exclamation"></i></div>
        {% endif %}
      </div>
      <p class="item-content">{{petition.content}}</p>
    </div>

    <div class="line"></div>

    {% else %}

    <div class="template-form-item">
      <div class="item-title">
        <h3>💭 청원을 하게 된 이유가 무엇인가요?</h3>
        {% if status.content_1 == '적절' %}
        <div class="status good"><i class="fas fa-check"></i></div>
        {% else %}
        <div class="status bad"><i class="fas fa-exclamation"></i></div>
        {% endif %}
      </div>
      <p class="item-content">{{petition.content_1}}</p>
    </div>
    <div class="line"></div>

    <div class="template-form-item">
      <div class="item-title">
        <h3>📑 주장을 뒷받침하는 자료가 있나요?</h3>
        {% if status.content_2 == '적절' %}
        <div class="status good"><i class="fas fa-check"></i></div>
        {% else %}
        <div class="status bad"><i class="fas fa-exclamation"></i></div>
        {% endif %}
      </div>
      <p class="item-content">{{petition.content_2}}</p>
    </div>
    <div class="line"></div>

    <div class="template-form-item">
      <div class="item-title">
        <h3>✨ 청원이 이루어지면 어떤 효과가 있을까요?</h3>
        {% if status.content_7 == '적절' %}
        <div class="status good"><i class="fas fa-check"></i></div>
        {% else %}
        <div class="status bad"><i class="fas fa-exclamation"></i></div>
        {% endif %}
      </div>
      <p class="item-content">{{petition.content_7}}</p>
    </div>
    <div class="line"></div>
    {% endif %}

    {% if image_list %}
    <div class="template-form-item">
      <h3>이해를 돕기 위한 사진 첨부</h3>
      <div id="preview" class="image-wrap">
        {% for image in image_list %}
        <div class="uploaded-img" style="background-image: url('/media/{{image.image}}');"></div>
        {% endfor %}
      </div>
    </div>
    <div class="line"></div>
    {% endif %}

    {% if has_keyword %}
    <div class="template-form-item">
      <h3>🔖 핵심 단어 세 가지</h3>
      <p>다른 시민들이 이 청원을 찾을 수 있도록 도와요</p>
      <div class="tag-keywords">
        {% if petition.keyword_1 %}
        <p class="keyword done"># <span>{{petition.keyword_1}}</span></p>
        {% endif %}
        {% if petition.keyword_2 %}
        <p class="keyword done"># <span>{{petition.keyword_2}}</span></p>
        {% endif %}
        {% if petition.keyword_3 %}
        <p class="keyword done"># <span>{{petition.keyword_3}}</span></p>
        {% endif %}
      </div>
    </div>
    {% endif %}
    
    <div class="edit-tools">
      <a href="javascript:void(0)">
        <span class="material-icons-outlined">title</span>
      </a>
      <a href="javascript:void(0)">
        <span class="material-icons-outlined">keyboard_voice</span>
      </a>
      <a class="blue" href="javascript:void(0)">
        <span class="material-icons-outlined">add</span>
      </a>
    </div>

  </form>

  <section class="inspection">
    <div class="slide-inspection">
      <div class="inspection-box">
        <div class="result-text">
          <div class="status"><i class="fas fa-exclamation"></i></div>
          <p>분석결과</p>
        </div>
        <h3 class="mention"><span>적절한</span> 표현입니다.</h3>
        <div class="box-bottom">
          <p class="comment">
            앞으로도 타 시민을 배려하는 말들로
            <br>숙의적 청원의 환경을 만들어주세요.
          </p>
          <a href="javascript:void(0)" class="btn-apply" onclick="$('.slick-next').trigger('click');">
            확인
          </a>
        </div>
        <p class="btn-close"><i class="fas fa-times"></i></p>
      </div>

      <div class="inspection-box">
        <div class="result-text">
          <div class="status"><i class="fas fa-exclamation"></i></div>
          <p>분석결과</p>
        </div>
        <h3>모델이 <span>제대로 처리</span>했나요?</h3>
        <div class="box-bottom box-bottom--grid">
          <a class="btn-apply done" href="javascript:void(0)">네</a>
          <a class="btn-apply done" href="javascript:void(0)">아니요</a>
        </div>
        <p class="btn-close"><i class="fas fa-times"></i></p>
      </div>
    </div>
  </section>

  <div class="loading-motion">
    <img src="/static/gif_files/load.gif" alt="">
    <h3>청원을 저장하고 있어요</h3>
    <p>조금만 기다려 주세요</p>
  </div>

  <div class="finish-write">
    <h2>청원 완료</h2>
    <h3>소중한 청원 감사합니다</h3>
    <p>20만명의 서명을 모아주세요</p>
  </div>

</section>

<section class="modal_wrap">
  <article class="modal_cnt">
    <div class="modal_body">
      <h4>
        부적절 표현 감지
        <br>AI 분석 중...
      </h4>
      <div class="img-wrap">
        <img src="/static/gif_files/load.gif" alt="">
      </div>
    </div>
    <a href="javascript:void(0)" class="close_btn">닫기</a>
  </article>
  <div class="modal_dim"></div>
</section>
{% endblock content %}


{% block extrascripts %}
<script type="text/javascript" src="/static/slick/slick.min.js"></script>

<script>
  $('.slide-inspection').slick({
    infinite: true,
    slidesToShow: 1,
    slidesToScroll: 1,
    autoplay: false,
  })
</script>

<script>
  $('#title').click(function () {
    $('.line').animate({
      "width": "100%"
    }, 400)
  });
</script>

<script>
  $('.status').click(function () {
    $('section.inspection').css({
      'bottom': '-300px'
    });
    if ($(this).hasClass('good') == true) {
      $('.mention').html(`
        <span>적절한</span> 표현입니다.
      `);
      $('.inspection-box').removeClass('good');
      $('.inspection-box').removeClass('bad');
      $('.inspection-box').addClass('good');
    } else {
      $('.mention').html(`
        <span>부적절 표현</span>이 <br>인식되었습니다.
      `);
      $('.inspection-box').removeClass('good');
      $('.inspection-box').removeClass('bad');
      $('.inspection-box').addClass('bad');
    }
    $('section.inspection').animate({
      'bottom': '10px'
    }, 300);
  });

  $('.btn-close').click(function () {
    $('section.inspection').animate({
      'bottom': '-300px'
    }, 300);
  });

  $('.btn-close').click(function () {
    $('section.inspection').animate({
      'bottom': '-300px'
    }, 300);
  });
  $('.done').click(function () {
    $('section.inspection').animate({
      'bottom': '-300px'
    }, 300);
  });
</script>

<script>
  function loading() {
    $('.loading-motion').fadeIn(300);
    $('.loading-motion').css('display', 'flex');

    setTimeout(() => {
      $('.loading-motion').fadeOut(300);
      $('.finish-write').css('display', 'flex');
    }, 1500);

    $('.finish-write').click(function () {
      location.href = '/detail/{{petition.id}}';
    });
  }
</script>

<script>
  function getScrollWidth() {
    var body = document.querySelector('body');
    var scrollDiv = document.createElement('div');
    scrollDiv.className = 'fake_sjwidth';
    body.appendChild(scrollDiv);
    var scrollbarWidth = $(document).height() > $(window).height() ? scrollDiv.offsetWidth - scrollDiv.clientWidth :
      0;

    body.removeChild(scrollDiv);
    return scrollbarWidth;
  }
</script>
{% endblock extrascripts %}