{% extends "base.html" %}

{% block content %}
<!-- <header class="title-page">
  <div class="title">
    <a href="javascript:void(0)" onclick="location.href='./check.html'"><i class="fas fa-times"></i></a>
  </div>
  <div class="header-title">
    <h3>청원 작성</h3>
  </div>
</header> -->

<!-- section.write -->
<section class="write template">
  <form id="formPetition" action="/success" method="post">

    {% csrf_token %}
    <input type="hidden" name="title" value="{{title}}">
    <input type="hidden" name="category" value="{{category}}">
    <input type="hidden" name="department" value="{{department}}">
    <input type="file" name="thumbnail" id="imageInput" style="display: none" />
    <input type="file" name="images" id="imagesInput" style="display: none" multiple />


    <div class="form-header">
      <a href="javascript:void(0)" onclick="location.href='./check.html'"><i class="fas fa-times"></i></a>
      <h3>청원 작성</h3>
      <!-- <button type="submit" class="btn-submit" form="formPetition">완료</button> -->
      <button type="button" class="btn-submit">완료</button>
    </div>

    <div id="thumbnailImage2" style="backgroud-image:url('/static/images/sample1.png');">
    </div>

    <div id="thumbnailImage" class="form-row form-row--image" style="background-image:url('/static/images/sample1.png');">
      <!-- <a class="btn-img" href="javascript:void(0)" onclick="open_image_input()">
        <i class="fas fa-plus"></i>
        <p>대표 이미지 추가</p>
      </a> -->
    </div>

    <div class="title-wrap">
      <h2 class="write-title">{{title}}</h2>
      <div class="category-tag">
        <div class="tag">
          <p>카테고리</p>
          <p class="category">{{category}}</p>
        </div>
        <div class="tag">
          <p>희망 수신자</p>
          <p class="receiver">{{department}}</p>
        </div>
      </div>
    </div>

    <div class="template-form-item">
      <div class="item-title">
        <h3>💭 청원을 작성한 배경</h3>
        <div class="status good"><i class="fas fa-check"></i></div>
      </div>
      <p class="item-content">
        환경부에 따르면 지난해 플라스틱 폐기물은 하루 평균 848톤씩 발생했다. 이 가운데 일회용 포장재 폐기물이 약 60%로 큰 비중을 차지하고 있다. 환경 파괴의 주범인 플라스틱은 소각·매립으로 처리한다더라도 다이옥신이나 환경 호르몬 등 인체에 해로운 유해 물질을 유출하고 불완전 연소에 따른 대기오염을 유발한다.
      </p>
      <!-- <textarea name="content_1" id="" placeholder="청원을 하게 된 배경을 상세하게 적어주세요."></textarea> -->
    </div>

    <div class="template-form-item">
      <div class="item-title">
        <h3>📑 제안하는 정책의 효과</h3>
        <div class="status good"><i class="fas fa-check"></i></div>
      </div>
      <p class="item-content">
        우리나라의 부동산 시장의 교란을 예방할 수 있습니다. 외국인들이 투기를 해 부동산 가격을 올려놓으면 결국 그 가격에 내국인도 거래를 하게 되는 투기 현상을 막을 수 있습니다. 

더불어, 오랜 선조부터 지켜온 우리 땅이 외국인 사유화 되는 것을 예방할 수 있습니다. 내국인들이 정당히 토지를 소유할 수 있도록 청원합니다.
      </p>
    </div>

    <div class="template-form-item">
      <div class="item-title">
        <h3>✨ 청원이 이루어지면 어떤 효과가 있을까요?</h3>
        <div class="status bad"><i class="fas fa-exclamation"></i></div>
      </div>
      <p class="item-content">
        환경부에 따르면 지난해 플라스틱 폐기물은 하루 평균 848톤씩 발생했다. 이 가운데 일회용 포장재 폐기물이 약 60%로 큰 비중을 차지하고 있다. 환경 파괴의 주범인 플라스틱은 소각·매립으로 처리한다더라도 다이옥신이나 환경 호르몬 등 인체에 해로운 유해 물질을 유출하고 불완전 연소에 따른 대기오염을 유발한다.
      </p>
    </div>

    <div class="template-form-item">
      <h3>이해를 돕기 위한 사진 첨부</h3>
      <p>청원글에 사진이 있으면 더 많은 사람들이 확인해요.</p>

      <div id="preview" class="image-wrap">
        <!-- <div class="uploaded-img" style="background-image: url('/static/images/sample1.png');"></div>
        <div class="uploaded-img" style="background-image: url('/static/images/sample3.png');"></div> -->
        <a class="add-img" onclick="open_images_input()">
          <div class="inner">
            <p><i class="fas fa-plus"></i></p>
            <p><span class="img-count">0</span> / 10</p>
          </div>
        </a>
      </div>
    </div>

    <div class="template-form-item">
      <h3>🔖 핵심 단어 세 가지</h3>
      <p>다른 시민들이 이 청원을 찾을 수 있도록 도와요</p>
      <div class="tag-keywords">
        <p class="keyword done"># <span>친환경지킴</span></p>
        <p class="keyword done"># <span>플라스틱오염</span></p>
        <p class="keyword done"># <span>환경오염</span></p>
      </div>
    </div>

    <div class="edit-tools">
      <a href="javascript:void(0)">
        <span class="material-icons-outlined">title</span>
      </a>
      <a href="javascript:void(0)">
        <span class="material-icons-outlined">keyboard_voice</span>
      </a>
      <a class="blue" href="javascript:void(0)">
        <span class="material-icons-outlined">add</span>
      </a>
    </div>
  </form>

  <section class="inspection">
    <div class="slide-inspection">
      <div class="inspection-box">
        <div class="result-text">
          <div class="status"><i class="fas fa-exclamation"></i></div>
          <p>분석결과</p>
        </div>
        <h3 class="mention"><span>적절한</span> 표현입니다.</h3>
        <div class="box-bottom">
          <p class="comment">
            앞으로도 타 시민을 배려하는 말들로
            <br>숙의적 청원의 환경을 만들어주세요.
          </p>
          <a href="javascript:void(0)" class="btn-apply" onclick="$('.slick-next').trigger('click');">
            적용
          </a>
        </div>
        <p class="btn-close"><i class="fas fa-times"></i></p>
      </div>

      <div class="inspection-box">
        <div class="result-text">
          <div class="status"><i class="fas fa-exclamation"></i></div>
          <p>분석결과</p>
        </div>
        <h3>모델이 <span>제대로 처리</span>했나요?</h3>
        <div class="box-bottom box-bottom--grid">
          <a class="btn-apply done" href="javascript:void(0)">네</a>
          <a class="btn-apply done" href="javascript:void(0)">아니요</a>
        </div>
        <p class="btn-close"><i class="fas fa-times"></i></p>
      </div>
    </div>
  </section>

</section>

<section class="modal_wrap">
  <article class="modal_cnt">
    <div class="modal_body">
      <h4>
        부적절 표현 감지
        <br>AI 분석 중...
      </h4>
      <div class="img-wrap">
        <img src="/static/images/loading.png" alt="">
      </div>
    </div>
    <a href="javascript:void(0)" class="close_btn">닫기</a>
  </article>
  <div class="modal_dim"></div>
</section>
{% endblock content %}


{% block extrascripts %}
<script type="text/javascript" src="/static/slick/slick.min.js"></script>

<script>
  $('.slide-inspection').slick({
    infinite: true,
    slidesToShow: 1,
    slidesToScroll: 1,
    autoplay: false,
  })
</script>

<script>
  $('#title').click(function () {
    $('.line').animate({
      "width": "100%"
    }, 400)
  });
</script>

<script>
  $('.status').click(function(){
    $('section.inspection').css({'bottom':'-300px'});
    if($(this).hasClass('good') == true) {
      $('.mention').html(`
        <span>적절한</span> 표현입니다.
      `);
      $('.inspection-box').removeClass('good');
      $('.inspection-box').removeClass('bad');
      $('.inspection-box').addClass('good');
    } else {
      $('.mention').html(`
        <span>부적절 표현</span>이 <br>인식되었습니다.
      `);
      $('.inspection-box').removeClass('good');
      $('.inspection-box').removeClass('bad');
      $('.inspection-box').addClass('bad');
    }
      $('section.inspection').animate({'bottom':'10px'},300);
  });

  $('.btn-close').click(function() {
    $('section.inspection').animate({'bottom':'-300px'}, 300);
  });

  $('.btn-close').click(function() {
    $('section.inspection').animate({'bottom':'-300px'}, 300);
  });
  $('.done').click(function() {
    $('section.inspection').animate({'bottom':'-300px'}, 300);
  });
</script>


<script>
  $body = $('body');
    $modalWrap = $('.modal_wrap');

    $('.btn-submit').on('click', function () {
      $body.addClass('modal_in');
      $modalWrap.fadeIn(300);
      $body.css('padding-right', getScrollWidth());
    });

    $('.close_btn, .modal_dim').on('click', function () {
      var speed = 300;
      $modalWrap.fadeOut(speed);
      setTimeout(function () {
        $body.removeClass('modal_in');
        $body.css('padding-right', 0)
      }, speed)
    });

    function getScrollWidth() {
      var body = document.querySelector('body');
      var scrollDiv = document.createElement('div');
      scrollDiv.className = 'fake_sjwidth';
      body.appendChild(scrollDiv);
      var scrollbarWidth = $(document).height() > $(window).height() ? scrollDiv.offsetWidth - scrollDiv.clientWidth :
      0;

      body.removeChild(scrollDiv);
      return scrollbarWidth;
    }
</script>
{% endblock extrascripts %}