{% extends "base.html" %}

{% load humanize %}

{% block content %}
<header>
  <div class="title">
    <h3>모아보기</h3>
  </div>
  <div class="btn-group">
    <a href=""><i class="fas fa-search"></i></a>
    <a href=""><i class="far fa-bell"></i></a>
  </div>
</header>

<section class="category">

  <a class="btn-category active" href="javascript:void(0)">전체</a>
  {% for category in category_list %}
  
  {% if forloop.counter < 7 %}
  <a class="btn-category" href="/list?category={{category.id}}">{{category.name}}</a>
  {% elif forloop.counter > 7 %}
  <a class="btn-category hide" href="/list?category={{category.id}}">{{category.name}}</a>
  {% else %}
  <a class="btn-category" href="/list?category={{category.id}}">{{category.name}}</a>
  <a class="btn-category more">+ 더보기</a>
  {% endif %}

  {% endfor %}


</section>

<div class="line-middle"></div>

<!-- section.list -->
<section class="list">

  {% for petition in petition_list %}
  <div class="list-item">
    <div class="list-img" style="background-image: url('/media/{{petition.thumbnail}}');"></div>
    <div class="list-info">
      <h3 class="list-title" onclick="location.href='/detail/{{petition.id}}'">{{petition.title}}</h3>
      <p class="numberOfPeople">🖐 {{petition.agreements | intcomma}}명 동의</p>
      <div class="graph-wrap">
        <p class="percent">{{petition.percentage}}%</p>
        <div class="graph-bar">
          <div class="graph-bar-percent"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="line"></div>
  {% endfor %}

</section>

{% endblock content %}


{% block extrascripts %}
<script>
  var graph = document.getElementsByClassName('graph-bar-percent');
  var percent = document.getElementsByClassName('percent');

  for (var i = 0; i < graph.length; i++) {
    graph[i].style.width = percent[i].innerText;
  }
</script>
{% endblock extrascripts %}

</body>

</html>