{% extends "base.html" %}

{% load humanize %}

{% block content %}
<header>
  <div class="title">

  </div>
  <div class="btn-group">
    <a href=""><i class="fas fa-search"></i></a>
    <a href=""><i class="far fa-bell"></i></a>
  </div>
</header>

<h2 class="welcome-h2">
  <div class="img-wrap">
    <img src="/static/images/waving-hand.png" alt="">
  </div>
  <span>{{user.name}}</span>님,
  <br>환영합니다.
</h2>

<!-- section.top5 -->
<section class="top5">
  <h2>청원 추천 수 Top 5</h2>
  <div class="slide-recommend">


    {% for petition in petition_list %}
    <div class="slide-card">
      <div class="slide-wrap">
        <div class="img-wrap" style="background-image: url('/media/{{petition.thumbnail}}');"></div>
        <div class="recommend-info">
          <div class="info-row info-row--grid">
            <div class="type-wrap">
              {% for category in petition.category_list %}
              <div class="type">{{category.name}}</div>
              {% endfor %}
            </div>
            <p class="numberOfPeople">🖐 {{petition.agreements|intcomma}}명 서명</p>
          </div>
          <h3>{{petition.title}}</h3>
          <div class="graph-wrap">
            <p class="percent">{{petition.percentage}}%</p>
            <div class="graph-bar">
              <div class="graph-bar-percent"></div>
            </div>
            <a href="javascript:void(0)" class="btn-next" onclick="$('.slick-next').trigger('click');">
              <img src="/static/images/arrow.png" alt="">
            </a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}

  </div>

</section>

{% endblock content %}

{% block extrascripts %}
<script type="text/javascript" src="/static/slick/slick.min.js"></script>
<script src="/static/js/top5.js"></script>
<script>
  $(window).resize(function () {
    if (window.innerWidth > 650) {
      for (var i = 0; i < $('.slide-card').length; i++) {
        for (var j = 3; j < $('.type').length; j++) {
          $('.slide-card').eq(i).children('.type').eq(j).css('visibility', 'visible');
        }
      }
    } else {
      for (var i = 0; i < $('.slide-card').length; i++) {
        for (var j = 3; j < $('.type').length; j++) {
          $('.slide-card').eq(i).children('.type').eq(j).css('visibility', 'hidden');
        }
      }
    }
  }).resize();

</script>
{% endblock extrascripts %}