<!DOCTYPE html>
<html>

<head>
   <style>
      #console {
         visibility: hidden;
         position: absolute;
      }
   </style>
   <script src="http://code.jquery.com/jquery-latest.js"></script>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/vs2015.min.css"> 
   <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
   <script>hljs.initHighlightingOnLoad();</script>

</head>

<body>
   <div id="console"></div>

   <p class="line line1">숙의적 시민으로서 거짓없이 작성하겠습니다.</p>
   <p class="line line2">감정만을 호소하거나 분풀이 하지 않겠습니다.</p>
   <p class="line line3">원하는 바를 명확하게 제시하겠습니다.</p>
   <p class="line line4">청원의 합리성을 위해 근거를 제시하겠습니다.</p>
   <p class="line line5">저는 타인을 배려하는 태도로 임하겠습니다.</p>

   <script>
      function selectText() {
         var selectionText = ""; //마우스로 드래그한 글 
         if (document.getSelection) {
            selectionText = document.getSelection();
         } else if (document.selection) {
            selectionText = document.selection.createRange().text;
         }
         return selectionText;
      }

      document.onmouseup = function () {
         document.getElementById("console").innerHTML = selectText();
         var str = document.getElementById("console").innerHTML;
         var line = [];
         var slice = [];

         for(var i = 0; i < $('.line').length; i++) {
            line.push($(".line").eq(i).text());
            slice.push(line[i].substr(str.length));
         }

         if(str.substr(0, 2) == '숙의') {
            highlightText(0, line[0].length, str);
         } else if(str.substr(0, 2) == '감정') {
            highlightText(1, line[1].length, str);
         } else if(str.substr(0, 2) == '원하') {
            highlightText(2, line[2].length, str);
         } else if(str.substr(0, 2) == '청원') {
            highlightText(3, line[3].length, str);
         } else if(str.substr(0, 2) == '저는') {
            highlightText(4, line[4].length, str);
         }

         // 여기에 .line.active 클래스 개수 5개일 때, 버튼 활성화 되도록

         function highlightText(num, text_length, str) {
            if(str.length < text_length) {
               return $('.line').eq(num).html('<span style="background-color:aqua;">' + str + '</span>' + slice[num]);
            } else if(str.length == text_length) {
               $('.line').eq(num).addClass('active');
               return $('.line').eq(num).html('<span style="background-color:aqua;">' + str + '</span>' + slice[num]);
            } else {
               return $('.line span').eq(num).text().substr(0, text_length);
            }
         }
      }

   </script>
</body>

</html>