{% extends "base.html" %}

{% block content %}
<header class="title-page">
  <a href="javascript:void(0)" onclick="location.href='/write/title'">
    <img src="/static/images/icons/close.png" alt="">
  </a>
  <div class="order-header">
    <span></span>
    <span></span>
    <p class="reciever">수신인선택</p>
  </div>
</header>


<!-- section.choose-category -->
<section class="choose-category choose-reciever">
  <h2>수신인을 선택해주세요.</h2>
  <p>직접 선택할 수도 있어요!</p>
  <form id="formDepartment" action="/write" method="get">
    <input type="hidden" name="title" value="{{title}}">
    {% for category in category_list %}
    <input type="hidden" name="category[]" value="{{category}}">
    {% endfor %}

    <div class="category-grid category-grid--receiver">
      {% for department in department_list %}
      <div class="btn-multiple" onclick="changeText('{{department.content}}')">
        <label>
          <input type="radio" name="department" value="{{department.id}}">
          <span>
            <img class="reciever-img" src="/static/images/reciever/01.png" alt="">
            <p class="department-name">{{department.name}}</p>
          </span>
        </label>
      </div>
      {% endfor %}
    </div>

    <p class="messege">
      국토교통부
    </p>

    <button type="button" class="btn-validation" onclick="loading()">수신인 선택 완료</button>
  </form>
</section>

<div class="loading-box">
  <img src="/static/images/reciever/loading.png" alt="">
  <h3>
    좋습니다!
    <br>수신인에게 전달할
    <br>청원을 작성해볼까요?
  </h3>
</div>
{% endblock content %}


{% block extrascripts %}
<script>
  $('#title').click(function () {
    $('.line').animate({
      "width": "100%"
    }, 400)
  });

  function changeText(text) {
    $('.messege').text(text);
  }

  function loading() {
    $('.loading-box').fadeIn(300);
    $('.loading-box').css('display', 'flex');
    setInterval(() => {
      $('#formDepartment').submit();
      //location.href = '/write';
    }, 1000);
  }
</script>

<script>
  for(var i = 0; i < $('.reciever-img').length; i++) {
    if(i < 9) {
      $('.reciever-img').eq(i).attr('src','/static/images/reciever/0' + (i + 1) + '.png');
    } else {
      $('.reciever-img').eq(i).attr('src','/static/images/reciever/' + (i + 1) + '.png');
    }
  }

  $('.department-name').eq(2).text('미래 창조과학부');
  $('.department-name').eq(8).text('문화체육 관광부');
  $('.department-name').eq(9).text('농림축산 식품부');
  $('.department-name').eq(10).text('산업통상 자원부');
</script>

<script>
  $(function(){
    $('body').addClass('write-cate');
  })
</script>
{% endblock extrascripts %}