{% extends "base.html" %}

{% block content %}

<!-- section.write -->
<section class="write template">
  <form id="formPetition" action="/inspection" method="post" enctype="multipart/form-data">

    {% csrf_token %}
    <input type="hidden" name="title" value="{{title}}">
    {% for category in category_list %}
    <input type="hidden" name="category[]" value="{{category.id}}">
    {% endfor %}
    <input type="hidden" name="department" value="{{department.id}}">

    <input type="file" name="thumbnail" id="imageInput" style="display: none" />
    <input type="file" name="images" id="imagesInput" style="display: none" multiple />

    <div class="form-header">
      <a href="javascript:void(0)" onclick="location.href='./check.html'"><i class="fas fa-times"></i></a>
      <h3>청원 작성</h3>
      <button class="btn-submit">완료</button>
    </div>

    <div id="thumbnailImage" class="form-row form-row--image">
      <a class="btn-img" href="javascript:void(0)" onclick="open_image_input()">
        <i class="fas fa-plus"></i>
        <p>대표 이미지 추가</p>
      </a>
    </div>

    <div class="title-wrap">
      <h2 class="write-title">{{title}}</h2>
      <div class="category-tag">
        <div class="tag">
          <p>카테고리</p>
          {% for category in category_list %}
          <p class="category">{{category.name}}</p>
          {% endfor %}
        </div>
        <div class="tag">
          <p>희망 수신자</p>
          <p class="receiver">{{department.name}}</p>
        </div>
      </div>
    </div>

    <div class="line"></div>

    <div class="template-items">
      <h2 class="write-title">청원에 아래의 내용이 포함되었나요?</h2>
      <p class="subtitle">반영했으면 클릭해주세요!</p>
      <div class="template-buttons">
        <a class="btn-template" href="javascript:void(0)">💭 청원을 작성한 배경</a>
        <a class="btn-template" href="javascript:void(0)">✨ 제안하는 정책의 효과</a>
        <a class="btn-template" href="javascript:void(0)">👀 경험했던 사례 및 근거</a>
        <a class="btn-template" href="javascript:void(0)">📄 신빙성 있는 객관적 근거</a>
        <a class="btn-template" href="javascript:void(0)">📷 이해를 돕는 자료</a>
        <a class="btn-template" href="javascript:void(0)">✔️ 제안하는 정책/해결안</a>
      </div>
    </div>

    <div class="line"></div>

    <div class="form-row">
      <textarea name="content" placeholder="위의 내용들이 반영이 되었는지 체크해가며, 청원을 작성해보세요."></textarea>
    </div>

    <div class="edit-tools">
      <a href="javascript:void(0)">
        <span class="material-icons-outlined">title</span>
      </a>
      <a href="javascript:void(0)">
        <span class="material-icons-outlined">keyboard_voice</span>
      </a>
      <a class="blue" href="javascript:void(0)">
        <span class="material-icons-outlined">add</span>
      </a>
    </div>
  </form>

</section>
{% endblock content %}


{% block extrascripts %}
<script src="/static/js/media.js"></script>

<script>
  $('#title').click(function () {
    $('.line').animate({
      "width": "100%"
    }, 400)
  });

  $('.btn-template').click(function () {
    //$('.btn-template').removeClass('active');
    $(this).toggleClass('active');
  });
</script>
{% endblock extrascripts %}