/***
* index.html
***/

body.splash {
    background-color: #2A3B9F;
    position: relative;
    height: 100%;
    overflow: hidden;
}


/* .intro */

.intro {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
}

.intro.intro1 {
    background-image: url('../images/Intro.png');
    z-index: 2;
}

.intro.intro2 {
    background-image: url('../images/Intro2.png');
    z-index: 1;
}

h2.intro-h2 {
    padding: 100px 50px;
    font-size: 30px;
    color: #fff;
}


/* section.welcome */

section.welcome {
    height: 0%;
    background-color: #FAFAFC;
    border-radius: 20px 20px 0 0;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 50px;
    box-sizing: border-box;
}

section.welcome .login {
    border-radius: 10px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, .1);
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
    justify-items: center;
    width: 100%;
    margin: 20px auto;
    padding: 20px 40px;
    margin-top: 1000px;
    opacity: 1;
    box-sizing: border-box;
    cursor: pointer;
}

section.welcome .login .icon-wrap {
    width: 50px;
    height: 50px;
}

section.welcome .login .icon-wrap img {
    width: 100%;
}

section.welcome .login p {
    font-size: 20px;
}


/***
* main.html
***/

.welcome-h2 {
    color: #000;
    font-size: 32px;
    padding: 30px 67px;
}

.welcome-h2 .img-wrap {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}

.welcome-h2 .img-wrap img {
    width: 100%;
}


/* section.top5 */


/* section.top5 {
  overflow: hidden;
} */

section.top5 h2 {
    margin-bottom: 20px;
    padding: 0 67px;
    box-sizing: border-box;
}

section.top5 .slide-recommend .slick-list {
    /* border-radius: 24px; */
    background-color: #f3f3f5;
    /* box-shadow: 0px 5px 15px 7px rgb(0 0 0 / 12%); */
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
}


/* section.top5 .slide-recommend .slick-list .slick-track {
  display: grid;
  justify-items: center;
} */

section.top5 .slide-recommend .slide-card {
    /* width: 100%; */
    /* margin: 0 20px; */
    box-sizing: border-box;
}

section.top5 .slide-recommend .slide-card .slide-wrap {
    border-radius: 24px;
    background-color: #fff;
    box-shadow: 0px 5px 15px 7px rgb(0 0 0 / 12%);
    overflow: hidden;
    height: 400px;
    /* width: 100%; */
    margin: 0 20px 25px;
}

section.top5 .slide-recommend .slide-card .img-wrap {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 120px;
}

section.top5 .slide-recommend .slick-prev:before {
    font-size: 0;
}

section.top5 .slide-recommend .recommend-info {
    padding: 30px 50px;
    box-sizing: border-box;
}

section.top5 .slide-recommend .recommend-info .info-row.info-row--grid {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

section.top5 .slide-recommend .recommend-info .info-row.info-row--grid .type {
    background-color: rgba(218, 218, 218, 0.3);
    color: #8C8C8C;
    font-weight: 600;
    padding: 3px 6px;
    box-sizing: border-box;
    border-radius: 7px;
}

section.top5 .slide-recommend .recommend-info h3 {
    white-space: pre-line;
    margin-bottom: 80px;
}

.graph-wrap {
    display: flex;
    align-items: center;
}

.graph-wrap .percent {
    font-weight: 700;
    font-size: 13px;
    color: #1546F1;
    margin-right: 10px;
}

.graph-wrap .graph-bar {
    background-color: #E4E4E4;
    border-radius: 21.1423px;
    width: 80%;
    height: 7px;
}

.graph-wrap .graph-bar-percent {
    background: linear-gradient(270.02deg, #43B9FC 1.01%, #1546F1 99.99%);
    border-radius: 21.1423px;
    height: 7px;
    width: 0%;
}

.graph-wrap .btn-next {
    width: 30px;
    height: 30px;
    display: inline-block;
    box-sizing: border-box;
    margin-left: 30px;
}

.graph-wrap .btn-next img {
    width: 100%;
}

section.top5 .slide-recommend .slick-next::before {
    font-size: 0;
}


/***
* list.html
***/


/* section.category */

section.category {
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

section.category .btn-category {
    font-weight: 600;
    font-size: 16px;
    background: #FFFFFF;
    border: 1px solid #E3E3E3;
    box-sizing: border-box;
    border-radius: 20px;
    text-align: center;
    padding: 10px 0;
    box-sizing: border-box;
}

section.category .btn-category.active {
    background: #2A3B9F;
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0px 4px 4px rgba(72, 113, 255, 0.1);
    color: #fff;
}

section.category .btn-category.more {
    border: 1px dashed #E3E3E3;
}

.line-middle {
    background: #F2F2F2;
    width: 100%;
    height: 12px;
}

section.category .btn-category.hide {
    display: none;
}


/* section.list */

section.list {
    padding: 50px 67px 120px;
    width: 100%;
    box-sizing: border-box;
    background-color: #FAFAFC;
}

section.list .line {
    margin: 0 auto;
    width: 100%;
    height: 1px;
    background-color: #EBEBEB;
    margin: 25px 0;
}

section.list .list-item {
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;
    gap: 35px;
}

section.list .list-item .list-img {
    width: 150px;
    height: 150px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}

section.list .list-item .list-info .numberOfPeople {
    margin: 10px 0;
}


/***
* check.html
***/


/* section.check */

section.check {
    width: 100%;
    height: 90%;
    background-color: #FAFAFC;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section.check h2 {
    font-size: 30px;
    text-align: center;
}

section.check .check-type {
    width: 100%;
    padding: 0 110px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    box-sizing: border-box;
    margin-top: 50px;
}

section.check .check-type .type-card {
    width: 40%;
    margin: 0 auto;
    background: #FFFFFF;
    box-shadow: 0px 0px 1.51958px rgba(0, 0, 0, 0.11), 0px 6.07832px 24.3133px rgba(0, 0, 0, 0.04);
    border-radius: 18.235px;
    cursor: pointer;
    position: relative;
}

section.check .check-type .type-card::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

section.check .check-type .type-card .inner {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 35px 40px;
    box-sizing: border-box;
}

section.check .check-type .type-card img {
    width: 100%;
}

section.check .check-type .type-card .type-text {
    font-size: 21px;
    font-weight: 700;
    text-align: center;
    /* margin-top: 10px; */
}

section.check .check-type .type-card .type-text.type-text--highlight {
    color: #5E94F8;
}

section.check .check-type .type-card .type-text.type-text--keyboard {
    color: #FC8670;
}


/***
* check_highlight.html
***/


/* section.highlight */

body.check-page {
    position: relative;
}

body.check-page header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

section.highlight-wrap {
    width: 100%;
    height: 90%;
    background-color: #FAFAFC;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section.highlight-wrap .info .img-hand {
    width: 45px;
    height: 45px;
    margin: 0 auto 10px;
}

section.highlight-wrap .info .img-hand img {
    width: 100%;
}

section.highlight-wrap .info p {
    color: #6B6B6B;
    font-size: 20px;
}

section.highlight-wrap .highlight-text {
    margin-top: 100px;
}

section.highlight-wrap .highlight-text p {
    padding: 15px 0 10px;
    font-size: 17px;
    border-bottom: 1px solid #DCDCDC;
}

.btn-validation {
    width: 100%;
    background-color: #2A3B9D;
    padding: 30px 0;
    box-sizing: border-box;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    color: #F0F2F4;
    text-align: center;
    position: absolute;
    bottom: 0;
    cursor: pointer;
}

section.highlight-wrap .highlight-text p::selection {
    background-color: #B6EECE;
}

.highlight-color {
    background-color: #B6EECE;
}


/* .keyboard-text */

section.keyboard-wrap {
    height: 80%;
    position: relative;
    background-color: unset;
    transition: all .5s;
}

.keyboard-text h3 {
    text-align: center;
    margin-top: 110px;
}

.keyboard-text .keyboard-input {
    border: none;
    border-bottom: 2px solid #C8C8C8;
    width: 100%;
    box-sizing: border-box;
    font-size: 21px;
    padding: 10px 15px;
    margin-top: 70px;
    font-weight: 600;
    background-color: unset;
}

.keyboard-text .keyboard-input:focus {
    border: none;
    outline: none;
    border-bottom: 2px solid #FC8C76;
}

.keyboard-text .keyboard-input::placeholder {
    color: #FC8C76;
}

.keyboard-validation {
    display: none;
    background-color: #FF7E66;
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFEAE7;
    z-index: 0;
    background-image: url('../images/bg-blue.png');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

section.keyboard-wrap .comment {
    display: none;
    font-size: 14px;
    color: #969696;
    margin: 20px auto;
    text-align: center;
}


/***
* good.html
***/

.good-text {
    margin-top: 60px;
    text-align: center;
}

.good-text h2 {
    color: #1546F1;
    font-size: 30px;
}

.good-text h3 {
    font-size: 25px;
}


/***
* title_page.html
***/


/* .title-page */

body.check-page header.title-page {
    background-color: #fff;
    padding: 40px 50px 20px;
    display: flex;
    border-bottom: 1px solid #EAEAEA;
}

header.title-page .order-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 260px;
    border-radius: 20px;
    background-color: #EDEDF3;
    margin: 0 auto;
    padding: 3px 5px 4px;
    box-sizing: border-box;
}

header.title-page .order-header p {
    background: #4E72ED;
    border-radius: 20px;
    padding: 2px 7px;
    color: #fff;
    width: fit-content;
    font-size: 14px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}



/* section.title-finish */

section.title-finish {
    padding: 220px 30px 150px;
    box-sizing: border-box;
}

section.title-finish .form-row {
    position: relative;
}

section.title-finish .form-row input {
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #EAEAEA;
    padding: 10px 15px;
    margin: 30px 0;
    width: 100%;
    font-size: 18px;
    caret-color: #1546F1;
    background-color: #FAFAFC;
}

section.title-finish .form-row .line {
    position: absolute;
    z-index: 1;
    width: 0%;
    height: 2px;
    background-color: #1546F1;
    bottom: 30px;
    left: 0;
}

section.title-finish .form-row input:focus {
    outline: none;
}

section.title-finish .btn-validation {
    border: none;
    margin-left: -30px;
}

section.title-finish .example {
    margin-top: 70px;
    font-size: 14px;
    display: grid;
    grid-template-columns: 30px 1fr;
    column-gap: 20px;
    row-gap: 50px;
}

section.title-finish .example .example-good h4 {
    color: #5552E2;
    font-size: 16px;
}

section.title-finish .example .example-bad h4 {
    color: #D15ED3;
    font-size: 16px;
}

section.title-finish .example p {
    margin: 5px 0;
}

section.title-finish .example .icon,
section.title-finish .example .icon img {
    width: 100%;
}


/***
* choose_category.html
***/

/* section.choose-category */
section.choose-category {
  padding: 220px 30px 150px;
  box-sizing: border-box;
}
section.choose-category h2 {
  text-align: center;
}
section.choose-category p {
  text-align: center;
  color: #8D8D8D;
  margin-top: 20px;
}
section.choose-category .form-row {
  position: relative;
}
section.choose-category .category-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  box-sizing: border-box;
  margin-top: 50px;
}
section.choose-category .btn-multiple {
  background-color:#fff;
  border-radius:25px;
  border:1px solid #D0D0D0;
  overflow:auto;
}
section.choose-category .btn-multiple label {
  width:100%;
  cursor: pointer;
}
section.choose-category .btn-multiple label span {
  text-align:center;
  padding:10px 0px;
  display:block;
  color: #989898;
}
section.choose-category .btn-multiple label input {
  position:absolute;
  top:-20px;
  visibility: hidden;
}
section.choose-category .btn-multiple input:checked + span {
  background-color:#4361EE;
  color:#fff;
}
section.choose-category .btn-validation {
  margin-left: -30px;
  border: none;
  background-color:#4361EE;
}

section.choose-category .category-grid.category-grid--receiver {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  box-sizing: border-box;
  margin-top: 50px;
}
section.choose-category .category-grid--receiver .btn-multiple label {
  position: relative;
  width: 100%;
}
section.choose-category .category-grid--receiver .btn-multiple label span {
  height: 160px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
section.choose-category .category-grid--receiver .btn-multiple label span img {
  width: 30px;
  height: 30px;
  margin: 0 auto;
}
section.choose-category .category-grid--receiver .btn-multiple label span p {
  color: #989898;
  margin-top: 10px;
  font-weight: 600;
  font-size: 18px;
}
section.choose-category .category-grid--receiver .btn-multiple :checked + span p {
  color: #fff;
}
/* section.choose-category .category-grid--receiver .btn-multiple label::after {
  display: block;
  content: "";
  padding-bottom: 100%;
}
section.choose-category .btn-multiple label div {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}


/***
* write.html
***/


/* section.write */

section.write {
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0 40px;
}

section.write .thumbnailImage2 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

section.write form {
    width: 100%;
    height: 100%;
}

section.write form .edit-tools {
    position: absolute;
    bottom: 150px;
}

section.write form .edit-tools a {
    margin-right: 25px;
    color: #8E8E8E;
    font-size: 16px;
}

section.write form .edit-tools a.blue {
    color: #5874F6;
}

section.write .form-header {
    padding: 50px 0 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #EAEAEA;
}

section.write .form-header a {
    display: inline-block;
    box-sizing: border-box;
    font-size: 21px;
    width: 60px;
}

section.write .form-header .btn-submit {
    background-color: #1546F1;
    color: #fff;
    border: none;
    font-size: 14px;
    padding: 3px 16px;
    box-sizing: border-box;
    border-radius: 13px;
    cursor: pointer;
}

section.write .form-row input {
    border: none;
    border-bottom: 1px solid #C9C9C9;
    background-color: #FAFAFC;
    width: 100%;
    padding: 15px 15px;
    font-size: 21px;
    box-sizing: border-box;
}

section.write .form-row input::placeholder {
    font-weight: 600;
    font-size: 32px;
}

section.write .form-row input:focus {
    outline: none;
}

section.write .btn-validation {
    border: none;
    margin-left: -40px;
}

section.write .bottom-template {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #F9F9F9;
    padding: 35px 40px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section.write .bottom-template a {
    font-size: 27px;
    text-align: center;
}

section.write .bottom-template a p {
    font-size: 16px;
}


/***
* write_template_click.html
***/


/* section.write.template */

body.height-auto {
    height: auto;
}

section.write.template {
    padding: 0;
    height: auto;
}

section.write.template .form-header {
    padding: 50px 40px 20px;
    margin-bottom: 0;
}

section.write.template .form-row--image {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F4F5F9;
}

section.write.template .form-row--image a {
    width: 200px;
    padding: 13px 15px;
    background-color: rgba(67, 97, 238, 0.7);
    border-radius: 10px;
    color: #fff;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section.write.template .title-wrap {
    width: 100%;
    padding: 35px 40px 0;
    box-sizing: border-box;
    position: relative;
}

section.write.template .title-wrap .write-title {
    word-break: keep-all;
}

section.write.template .title-wrap .category-tag {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 20px 0;
    color: #868686;
    font-size: 13px;
}

section.write.template .title-wrap .category-tag .tag {
    display: flex;
    align-items: center;
    gap: 10px;
}

section.write.template .title-wrap .category-tag .tag .category {
    background-color: rgba(67, 97, 238, 0.1);
    color: #4361EE;
    border-radius: 5px;
    padding: 3px 5px;
    box-sizing: border-box;
    font-weight: 600;
}

section.write.template .title-wrap .category-tag .tag .receiver {
    background-color: rgba(58, 12, 163, 0.1);
    color: #3A0CA3;
    border-radius: 5px;
    padding: 3px 5px;
    box-sizing: border-box;
    font-weight: 600;
}

section.write.template .title-wrap .open-modal {
  position: absolute;
  font-size: 16px;
  color: #626262;
  top: 15px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
}

section.write.template .line {
    height: 1px;
    width: 90%;
    background-color: #C9C9C9;
    margin: 35px auto;
}

section.write.template .template-items .write-title {
    text-align: center;
    word-break: keep-all;
}

section.write.template .template-items p.subtitle {
    text-align: center;
    color: #646262;
    margin-top: 10px;
    font-size: 15px;
}

section.write.template .template-items .template-buttons {
    padding: 0 40px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 10px;
    margin: 30px 0;
}

section.write.template .template-items .template-buttons .btn-template {
    border-radius: 80px;
    border: 1px solid #E1E1E1;
    padding: 10px 15px;
    box-sizing: border-box;
    display: inline-block;
    color: #5F5F5F;
    transition: all .2s;
    font-size: 13px;
    /* text-align: center; */
}

section.write.template .template-items .template-buttons .btn-template.active {
    background: #DBE1FF;
    border: 1px solid #91A4FF;
    box-sizing: border-box;
    color: #3048B6;
}

section.write.template .form-row {
    padding: 0 40px;
}

section.write.template .form-row textarea {
    border: none;
    width: 100%;
    box-sizing: border-box;
    height: 300px;
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    caret-color: #3126A5;
    resize: none;
}

section.write.template .form-row textarea:focus {
    outline: none;
}

section.write.template .form-row textarea::placeholder {
    color: #B4B4B4;
    font-size: 16px;
}

section.write.template form .edit-tools {
    position: initial;
    padding: 20px 40px 80px;
}


/***
* write_template.html
***/

section.write.template .template-form-item {
    padding: 0 40px;
    box-sizing: border-box;
}

section.write.template .template-form-item h3 {
    font-size: 18px;
    margin-bottom: 20px;
}

section.write.template .template-form-item textarea {
    border: none;
    width: 100%;
    box-sizing: border-box;
    height: 200px;
    font-size: 16px;
    font-family: 'Noto Sans KR', sans-serif;
    caret-color: #3126A5;
    resize: none;
}

section.write.template .template-form-item textarea:focus {
    outline: none;
}

section.write.template .template-form-item textarea::placeholder {
    color: #B4B4B4;
    font-size: 16px;
}

section.write.template .template-form-item p {
    color: #B4B4B4;
    margin-bottom: 20px;
}

section.write.template .template-form-item .image-wrap {
    width: 100%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    gap: 10px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

section.write.template .template-form-item .image-wrap .uploaded-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}

section.write.template .template-form-item .image-wrap .add-img {
    width: 100%;
    border-radius: 10px;
    background-color: #F0F3FF;
    position: relative;
}

section.write.template .template-form-item .image-wrap .add-img .inner {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section.write.template .template-form-item .image-wrap .add-img .inner p {
    font-size: 50px;
    color: #fff;
}

section.write.template .template-form-item .image-wrap .add-img .inner p:last-child {
    font-size: 16px;
}

section.write.template .template-form-item .image-wrap .uploaded-img::after,
section.write.template .template-form-item .image-wrap .add-img::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

section.write.template .template-form-item .tag-keywords {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
}

section.write.template .template-form-item .tag-keywords .keyword {
    background: #FFFFFF;
    border: 1px solid #DCDDDE;
    box-sizing: border-box;
    border-radius: 20px;
    font-size: 16px;
    padding: 5px 10px;
    display: grid;
    grid-template-columns: 30px 1fr;
}
section.write.template .template-form-item .tag-keywords .keyword.done {
  color: #000;
}

section.write.template .template-form-item .tag-keywords .keyword input {
    border: none;
    width: 100%;
}

section.write.template .template-form-item .tag-keywords .keyword input:focus {
    outline: none;
}



/***
* inspection.html
***/

section.write.template {
  position: relative;
}
section.write.template .template-form-item p.item-content {
  /* height: 200px; */
  width: 100%;
  font-size: 16px;
  color: #4D4D4D;
  margin-bottom: 30px;
}

section.write.template .template-form-item .item-title {
  display: flex;
  justify-content: space-between;
}
section.write.template .template-form-item .item-title .status {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 13px;
  box-sizing: border-box;
  cursor: pointer;
}
section.write.template .template-form-item .item-title .status.good {
  background-color: #40CF68;
}
section.write.template .template-form-item .item-title .status.bad {
  background-color: #FF7171;
}

section.inspection {
  width: 760px;
  overflow: hidden;
  position: fixed;
  bottom: -250px;
  left: 50%;
  transform: translateX(-50%);
}
section.inspection .slick-list {
  box-sizing: border-box;
  width: 100%;
  height: auto;
}
section.inspection .slick-track {
  box-sizing: border-box;
}
section.inspection .slick-next::before,
section.inspection .slick-prev::before {
  font-size: 0;
}
section.inspection .slide-inspection {
  width: 100%;
}
.inspection-box {
  width: 100%;
  /* min-width: 270px;
  max-width: 380px;
  height: 220px; */
  padding: 30px 20px;
  box-sizing: border-box;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  border-radius: 19px;
  position: relative;
  height: 266px;
}
.inspection-box.good {
  background: linear-gradient(288.78deg, #EBF5FF 0%, #FFFFFF 98.5%);
  border: 2px solid #6A8AF9;
}
.inspection-box.bad {
  background: linear-gradient(288.78deg, #FFEBEB 0%, #FFFFFF 98.5%);
  border: 2px solid #F18989;
}
.inspection-box .result-text {
  display: flex;
  align-items: center;
  gap: 10px;
}
.inspection-box .result-text .status {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 13px;
  box-sizing: border-box;
  font-size: 12px;
}
.inspection-box.good .result-text .status {
  background-color: #1546F1;
}
.inspection-box.good .result-text p {
  color: #1546F1;
  font-weight: 600;
  font-size: 16px;
}
.inspection-box.bad .result-text .status {
  background-color: #FF7171;
}
.inspection-box.bad .result-text p {
  color: #FF7171;
  font-weight: 600;
  font-size: 16px;
}
.inspection-box h3 {
  color: #8A8A8A;
  margin: 30px 0 55px;
  text-align: center;
  font-size: 25px;
}
.inspection-box.good h3 span {
  color: #1546F1;
}
.inspection-box.bad h3 span {
  color: #FF7171;
}
.inspection-box .box-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.inspection-box .box-bottom .comment {
  font-size: 13px;
  color: #A6A6A6;
}
.inspection-box .box-bottom .btn-apply {
  font-weight: 600;
  font-size: 17px;
  padding: 5px 20px;
  box-sizing: border-box;
  background-color: #fff;
  border: 2px solid #DFDFDF;
  border-radius: 10px;
}
.inspection-box .box-bottom--grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;  
}
.inspection-box .box-bottom--grid .btn-apply {
  border-radius: 30px;
  text-align: center;
  color: #8C8C8C;
  border: 1.5px solid #DFDFDF;
}
.inspection-box .btn-close {
  position: absolute;
  top: 15px;
  right: 20px;
  color: #A9A9A9;
  font-size: 16px;
  cursor: pointer;
}


/***
* detail.html 
***/

.inspection-box.report {
  width: 360px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
.inspection-box.report h3 {
  margin: 18px 0 40px;
}
.inspection-box.report .image-wrap {
  width: 35px;
  height: 35px;
  margin: 10px auto 0;
}
.inspection-box.report .image-wrap img {
  width: 100%;
}

section.write.template .line {
  margin: 50px auto;
  width: 90%;
  height: 1px;
  background-color: #C9C9C9;
}